html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.max-width {
  width:100%;
}
.max-height {
  height:100%;
}
.no-min-height {
  min-height: 0px;
}

.padded-x {
  padding-left: 20px;
  padding-right: 20px;
}

#layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#player-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.4);
}

#panel-container {
  width: 100%;
  padding-top:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

#left-panel {
  width: 210px;
}
#right-panel {
  width: 340px;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
#middle-panel {
  min-width: 0px;
}

#live-chat-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
}

.center-y {
  display: flex;
  align-items: center;
}

/* Flex classes */

.fixed {
  flex: none
}

.dynamic {
  flex: auto
}

/* ************* */

.nav-extra-padding {
  padding-left: 20px;
}

#on-air-view {
  padding: 20px;

}

#replay-view {
  padding: 20px;

}

#about-view {
  padding: 20px;

}

#upload-view {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
}

.upload-dropzone {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

#upload-list {
  max-height: 100%;
  overflow-y: auto;
  flex-grow: none;
}

#adm-view {
  border: none;
}

@media (max-width: 700px) {
  #live-chat-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 2px;
  }
  #panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    order: 1;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }
  #right-panel {
    width: 100%;
  }
  #middle-panel, #left-panel {
    display: none;
  }
  #player-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: max-content;
    border-bottom: none;
    padding: 10px;
    order: 2;
    background-color: rgba(255,255,255,0.99);
  }
  input {
    display: none;
  }
  button.ui.icon.button {
    padding: 15px;
  }
  textarea {
    opacity: 0.8;
    border: 1px solid rgba(34, 36, 38, 0.25);
  }
  i.pause.big.icon, i.play.big.icon {
    /* would be great to replace the play button by a bigger one */
  }
  #layout {
    background-image: url("http://udonradio.fr/logo.png"); /*fallback*/
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 100%), url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fsakurahouse-blog.com%2Fes%2Ffiles%2F2012%2F08%2Fudon1.jpg&f=1");
    background-position: center;
    background-size: cover; /*seems prettier than "contain". Will depend on the final logo's design.*/
    background-repeat: no-repeat;

    /* using a linear-gradient "trick" to vary the background-img's (which is the logo)
    alpha value so it feels light and subtle */
    /* unfortunaltely, this doesn't seem to work with older browsers. Added a fallback.
    The result'll be even prettier when we get a proper logo */

  }
}
